<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Incidents</title>
    <link th:href="@{/styles/incident/basic.css}" rel="stylesheet"/>
    <link th:href="@{/styles/incident/index.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/styles/incident/basic.css">
    <link rel="stylesheet" href="/static/styles/incident/index.css">
</head>
<body>
<h1>Welcome to the Incident Management tool</h1>
<div>
    <p><a href="http://localhost:8080/incidenttemplate/allincidents">See all incidents</a></p><p>
    <a href="">Create new incident</a></p><p>
    <a href="http://localhost:8080/incidenttemplate/new/postget">Search for incident</a></p><p>
    <a href="http://localhost:8080/incidenttemplate/firstpage/incident/1">Search for incident by changing the number in the URL</a></p><p>
    <a href="http://localhost:8080/incidenttemplate/firstpage/incident/like/down">Search for incident by changing the title name in the URL</a>
</p>
</div>


</body>
</html>